.slide-description
	h1 Summer <br> wine sale.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore <br> magna aliqua. Ut enim ad minim veniam.
	a(href="#").cta-button Shop now
.slide-image
	img(src="assets/img/bottle.png")