.slide-description
	h1 Chose <br> your wine.
	p Choose from our extensive selection of fine wines, <br> or go ahead with one of our pre-mixed cases which have been <br> created just for you.
	a(href="#").cta-button Browese wines
.slide-image
	img(src="assets/img/bottle.png")