.slide-description
	h1 Lorem ipsum <br> dolor sit.
	p Duis aute irure dolor in reprehenderit in voluptate <br> velit esse cillum dolore eu fugiat nulla pariatur. <br> Excepteur sint occaecat cupidatat non proident.
	a(href="#").cta-button Find out more
.slide-image
	img(src="assets/img/bottle.png")